<div class="container">
  <div class="img" id="textsec2">
    <h2>Gabriel Roewer</h2>
    <p>Front-End Developer</p>
    <button><b>Contact</b></button>
  </div>
  <section>
    <div class="scroll">
      <a id="scroll" href="#textsec"><i class="fa-solid fa-angles-down"></i></a>
    </div>
    <div class="info">
      <h3>Seja bem-vindo ao meu site portfólio</h3>
      <p class="textsec" id="textsec">
        Aqui você encontrará parte do meu conhecimento em desenvolvimento
        Front-End, utilizando linguagem TypeScript no Framework AngularJS. Estou
        me especializando em Back-end para me tornar um Desenvolvedor
        Full-Stack, como você pode ver na aba
        <a id="projects" routerLink="/projects">Projetos</a>, este projeto
        consome API's Back-end, ou seja, é um portfólio Full-Stack, porém me
        limito a atuar apenas com desenvolvimento Front-end, pois acredito que
        preciso fortalecer minha base de estudo em Back-end antes de entrar no
        mercado de trabalho.
      </p>
    </div>
  </section>




