.img {
  height: 650px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
}
p {
  font-size: 20px;
}
.info {
  height: 640px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  background-image: none;
}
h3 {
  background-image: none;
  color: #151019;
  text-align: center;
}
.textsec {
  width: 60%;
  margin-top: 50px;
  background-image: none;
  color: #151019;
  text-align: center;
}
#projects {
  text-decoration: underline;
  border: none;
  color: #151019;
  background-image: none;
  transition: 0.7s;
}

#projects:hover {
  background-color: #151019;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
i {
  background-color: white;
  background-image: none;
}
.scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;

}
#scroll {
  font-size: 40px;
  text-decoration: none;
  background-image: none;
  color: #151019;
  margin: 50px 10px 0px 10px;
}
button {
  margin-top: 20px;
  background-image: none;
  color: #151019;
  border: 1px solid #151019;
  background-color: #74a8d9;
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;
}
button:hover {
  border: 1px solid azure;
}
